
{% extends 'base.html' %}

{% block title %}Lista de Pacientes{% endblock %}

{% block content %}

<div class="offset-1 col-10 list-div">

    <div>
    <div id="enquadra">
        <div id="box-choices">
            <a href="# class="link">
                <p id="posiciona">Quadro de Paciente</p>
            </a>
        </div>

        <div id="box-choices">
            <a href="#" class="link">
                <p id="posiciona">Paciente / Exames</p>
            </a>
        </div>

        <div id="box-choices">
            <a href="#" class="link">
                <p id="posiciona">Controle Geral</p>
            </a>
        </div>

    </div>

    <br><br><br><br><br><br><br><br><br>

    <div>
        <div id="box-choices">
            <a href="#" class="link">
                <p id="posiciona">Faturamento</p>
            </a>
        </div>
    </div>
</div>
</div>

{% endblock %}